__pycache__/*
*.py[cod]
*.so
*.egg*
build/
dist/
wheels/

.pytest_cache/
.tox/
.coverage
nosetests.xml

docs/_build/

venv/
.mypy_cache/

.idea/

*.log
local_settings.py

*.env

*.json
!queries.json

tmp/

source
raw_data
merging